---
import type { FormField } from "../../types";
import FormBuilder from "../components/FormBuilder.vue";
import Main from "../layouts/Main.astro";

---

<Main>
	<h1>Form Mailer Demo</h1>
	<FormBuilder client:load />
</Main>
